@model IEnumerable<Inmueble>


@{
    ViewData["Title"] = "Index";
}

<h4> Listado de Inmuebles</h4>

<p>
    <a asp-action="Editar" method="post">CREAR NUEVO </a>
</p>
<form asp-action="DisponiblesPorFechas" method="get">
    <div class="form-group">
        <label for="fechaInicio">Fecha Inicio:</label>
        <input type="date" name="fechaInicio" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="fechaFin">Fecha Fin:</label>
        <input type="date" name="fechaFin" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Buscar Disponibles</button>
</form>
<form asp-action="BuscarPropietarios" method="get">
    <p>
        Buscar propietario: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-dark" />
    </p>
</form>
<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponible)
            </th>
            <th>
                ACCIONES
            </th>
        </tr>
    </thead>
    <tbody id="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uso)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Disponible)
                </td>


                <td>
                    <a asp-action="Detalles" asp-route-id=@item.Id title="Ver Detalles"><i class="fa fa-eye " style="font-size:25px;"
                            id="detalles"></i></a>
                    <a asp-action="Editar" asp-route-id=@item.Id title="Editar item"><i class="fa fa-pencil " style="font-size:25px;"
                            id="edi"></i></a>
                    @if (ViewBag.UserRole == "ADMINISTRADOR")
                    {
                        <a href="#" onclick="eliminar('@item.Id', '@item.Direccion')" title="Eliminar">
                            <i class="fa fa-trash" style="font-size:25px;" id="eli"></i>
                        </a>
                    }
                    <a asp-controller="Contrato" asp-action="ListarContratosInmueble" asp-route-id=@item.Id title="Listar Contratos"><i class="fa fa-bars" style="font-size:25px;"
                            id="lcontratos"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form class="modal" tabindex="-1" asp-action="Eliminar" id="modal_eliminar_Domicilio">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DESEAS ELIMINAR A:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="Id" value="" id="Domicilio_eliminar_id">
                <p><span id="Domicilio_eliminar_nombre"></span></p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function eliminar(id, nombre) {
            document.querySelector("#Domicilio_eliminar_id").value = id;
            document.querySelector("#Domicilio_eliminar_nombre").innerHTML = nombre;
            $("#modal_eliminar_Domicilio").modal("show");
        }
    </script>
}