@model PROYECTO_BRUNO_SOAZO.Models.Contrato;

@{
    ViewData["Title"] = "Details";
}



<div class="container justify-content-center  col-6" id="table">
    <h4 class="text-center">Liquidacion por finalización</h4>
    <hr />
    <dl class="row ">
        <dt class="col-6 ">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-6 ">
            @Html.DisplayFor(model => model.Id)
        </dd>
        
        <dt class="col-6 ">
            @Html.DisplayNameFor(model => model.MontoMensual)
        </dt>
        <dd class="col-6 ">
            @Html.DisplayFor(model => model.MontoMensual)
        </dd>
         <dt class="col-6 ">
          FECHA DE TERMINO DEL CONTRATO
        </dt>
        <dd class="col-6 ">
            @Html.DisplayFor(model => model.FechaTerm)
        </dd>
       
         <dt class="col-6">
            MULTA CORRESPONDIENTE
        </dt>
        <dd class="col-6">
         @if (ViewBag.Multa != null) {
                 <p>@ViewBag.Multa</p>
                }
        </dd>
       <div class="col-6 " id ="table">    
         <div class="col ">
        <form asp-action="Finalizar" method="post">
              <div class="form-group col-8">
                <label asp-for="FechaFinalizacion" class="control-label"></label>
                <input asp-for="FechaFinalizacion" class="form-control" id="fechaInicio" />
                <span asp-validation-for="FechaFinalizacion" class="text-danger"></span>
            </div>
            <input type="hidden" name="id" value="@Model.Id" />
               <div class="form-group p-5" >
                <input type="submit" value="Finaliza Contrato" class="btn btn-danger" />
            </div>
        </form>
    </div>

        @if (ViewBag.UserRole == "ADMINISTRADOR")
        {
            <dt class="col-6">
                CREADO POR
            </dt>
            <dd class="col-6">
               @ViewBag.UsuarioC.Id @ViewBag.UsuarioC.Nombre @ViewBag.UsuarioC.Apellido
            </dd>
            @if (Model.IdUsuarioTermino != null && Model.Anulado)
            {
                <dt class="col-6">
                    ANULADO
                </dt>
                <dd class="col-6">
                    SI
                </dd>
                <dt class="col-6">
                    TERMINADO POR
                </dt>
                <dd class="col-6">
                    @ViewBag.UsuarioT.Id @ViewBag.UsuarioT.Nombre @ViewBag.UsuarioT.Apellido
                </dd>
            }
        }
    </dl>
</div>
<div>
    <a asp-action="Index">Volver al listado</a>
</div>